<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="row ">
                    <div class="col-xs-12 ">
                        <app-busstop-picker (name)="onSelect($event) "></app-busstop-picker>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 ">
                        <app-direction-picker (bollardChange)="onBollardChange($event)" [name]="name "></app-direction-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default " *ngIf="times">
            <div class="panel-body ">
                <div class="row ">
                    <div class="col-xs-12 ">
                        <h1>{{times.bollard.name}}</h1>
                        <app-times-board [times]="times"></app-times-board>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>